body {
    width: 100%;
    font-family: "lato";
    font-size: 18px;
    background-color: whitesmoke;
    margin: 0;
}

h1{
    font-size: 3rem;
    letter-spacing: 10px;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: 10px;
}

p {
    font-size: 1.75rem;
    font-weight: 700;
    word-spacing: 6px;
    letter-spacing: 3px;
}

header {
    background-color: #222831;
    background-attachment: fixed;
    color: whitesmoke;
    height: 230px;
    text-align: center;
    margin: 0;
    min-width: 100%;
    position: fixed;
    z-index: 2;
    top:0;
    
    
    
}

header h1 {
    padding-top: 1.5%;
}



nav ul {
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
    margin-top: 2.5%;
}

nav li {
    list-style-type: none;
    font-size: 1.5rem;
    letter-spacing:  .2rem;
}

main {
    position: relative;
    top: 215px;
    width: 100%;
}

.experience {
    background-image: url(./images/experience-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-middle {
    width: 100%;
    text-align: center;
    background-color: #ececec;
    height: 120px;
    
}

.text-middle h2 {
    
    position: relative;
    bottom: 25px;
}

.text-middle p {
    position: relative;
    bottom: 40px;
    font-size: 1.75rem;
    font-weight: 700;
    word-spacing: 6px;
    letter-spacing: 3px;
}

.mobility {
    background-color: whitesmoke;
    padding: 20px 0;
    
}

.mobility-text {
    text-align: center;
}

.images {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    
}

.photos {
    flex-wrap:wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photos img {
    width: 200px;
    margin: 0 15px;
}

.photos span {
    width: 200px;
    text-align: center;
    margin: 0 15px;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 4px;
}

.our-team {
    padding-top: 50px;
    margin: 0 auto;
}

.all {
    background-image: url(./images/our-team-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    padding-top: 10px;
    height: 450px;
}

.our-team h2 {
    text-align: center;
}

.team {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.managers img {
    width: 200px;
    display: block;
    transition-property: width;
    transition-duration: 0.75s;
    cursor: pointer;
}

.managers img:hover {
    width: 300px;
}

.managers {
    line-height: .75rem;
}

.managers h3 {
    font-size: 1.25rem;
    text-align: center;
}

.managers p {
    font-size: 1rem;
    text-align: center;
    
}

footer {
    background-color: #f2a365;
    text-align: center;
    height: 340px;
    position: relative;
    top: 215px;
    margin: 0;
    padding-top: 20px;
    
}

footer h6 {
    font-size: 1rem;
    letter-spacing: 3px;
}

footer h4 {
    padding-top: 35px;
}

